* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu {

    ul,
    a,
    li {
        display: flex;
        gap: 30px;
        justify-content: center;
        font-size: x-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;

        a {
            color: black;
            background-color: yellowgreen
        }



    }

}

img {
    position: relative;
    top: 150px;
    width: 300px;
    height: auto;
}

#nome {
    position: relative;
    bottom: 80px;
    text-align: center;
}

header {
    background-color: rgb(238, 229, 229);
    position: relative;
    top: 0px;
    height: 500px;

    #dados {
        position: absolute;
        bottom: 70px;
        right: 100px;
        color: rgb(83, 82, 82);
    }

    #endereço {
        position: relative;
        color: rgb(83, 82, 82);
        text-align: center;
    }

}

aside {

    width: 40%;
    height: 400px;

    ul {
        margin: auto;
        width: 50%;
    }

    text-align: center;

    li,
    h3 {
        margin-bottom: 15px;
    }

}

main {

    position: absolute;
    right: 0px;
    width: 60%;
    height: 400px;
    top: 500px;

    p,
    h3,
    h4 {
        margin-bottom: 5px;
    }



}

footer {
    position: absolute;
    top: 900px;
    width: 100%;
    text-align: center;

}

.ano {
    font-style: italic;
}

#experiencia {
    text-align: justify;

    p {
        color: rgb(83, 82, 82);
    }
}

#formação {
    text-align: justify;

    p {
        color: rgb(83, 82, 82);
    }
}